<table class="table table-striped">
    <thead>
    <tr>
    <th>IdCommande</th>
    <th>Utilisateur</th>
    <th>Entrée</th>
    <th>Plat</th>
    <th>Dessert</th>
    <th>Boisson</th>
    <th>Supprimer commande</th>
    <th>Editer facture</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let unCommande of listCommandes">
        <td>{{unCommande.idCommande}}</td>
        <td>{{unCommande?.employee?.prenomUser}}   {{unCommande?.employee?.nomUser}}</td>
        <td>{{unCommande?.entree?.nomEntree}} x {{unCommande.qteEntree}}</td>
        <td>{{unCommande?.plat?.nomPlat}} x {{unCommande.qtePlat}}</td>
        <td>{{unCommande?.dessert?.nomDessert}} x {{unCommande.qteDessert}}</td>
        <td>{{unCommande?.boisson?.nomBoisson}} x {{unCommande.qteBoisson}}</td>
        <!-- Calixte -->
        <!-- <td>{{unCommande.entree.prixEntree + unCommande.plat.prixPlat + unCommande.dessert.prixDessert + unCommande.boisson.prixBoisson}}</td> -->
        <!-- Calixte -->
        <td><button type ="button" class = "btn btn-danger" (click)="deleteCommande(unCommande.idCommande)">Supprimer</button></td>
        <!-- A faire component updateCommande -->
        <td><button type = "button" class = "btn btn-warning" (click)="createBis(unCommande.idCommande)">Facture</button></td>
        <!-- <td><a class = "btn btn-primary" [routerLink]="['/updateCommande/'+unCommande.idCommande]"> Modifier une commande</a></td> -->
        </tr>
    </tbody>
    </table>
