<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://localhost:4200/accueil">Restaurant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="http://localhost:4200/createUser">S'inscrire <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/user">Utilisateurs <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/createCommande">Passer commande <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/commande">Commandes <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/createReservationMidi">Réserver le midi <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/createReservationSoir">Réserver le soir <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/reservationMidi">Midi <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="http://localhost:4200/reservationSoir">Soir <span class="sr-only">(current)</span></a>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="http://localhost:4200/entree">Entrées</a>
          <a class="dropdown-item" href="http://localhost:4200/createEntree">Créer entrée</a>
          <a class="dropdown-item" href="http://localhost:4200/plat">Plats</a>
          <a class="dropdown-item" href="http://localhost:4200/createPlat">Créer plat</a>
          <a class="dropdown-item" href="http://localhost:4200/dessert">Desserts</a>
          <a class="dropdown-item" href="http://localhost:4200/createDessert">Créer dessert</a>
          <a class="dropdown-item" href="http://localhost:4200/boisson">Boissons</a>
          <a class="dropdown-item" href="http://localhost:4200/createBoisson">Créer boisson</a>
        </div>
      </div>
    </div>
  </nav>
