<table class="table table-striped">
    <thead>
    <tr>
    <th>idFacture</th>
    <th>idCommande</th>
    <th>Montant</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let unFacture of listFactures">
        <td>{{unFacture.idFacture}}</td>
        <td>{{unFacture.montantFacture}}€</td>
        <td>{{unFacture?.commande?.idCommande}}</td>
        
       
        <!-- <td>{{unCommande.entree.prixEntree + unCommande.plat.prixPlat + unCommande.dessert.prixDessert + unCommande.boisson.prixBoisson}}</td> -->
        <!-- <td><button type ="button" class = "btn btn-danger" (click)="deleteFacture(unFacture.idFacture)">Supprimer</button></td> -->
        <!--<td><button type = "button" class = "btn btn-warning" (click)="create(newFacture, unCommande.idCommande)">Facture</button></td> -->
        <!-- <td><a class = "btn btn-primary" [routerLink]="['/updateCommande/'+unCommande.idCommande]"> Modifier une commande</a></td> -->
        </tr>
    </tbody>
    </table>
     