<div class="container">
    <form>
        <div class="form-group">
          <label for="NnomUser">Nom</label>
          <input type="text" class="form-control" name = "NnomUser" [(ngModel)]="newUser.nomUser">
        </div>
        <div class="form-group">
            <label for="NprenomUser">Prénom</label>
            <input type="text" class="form-control" name = "NprenomUser" [(ngModel)]="newUser.prenomUser">
          </div>
        <div class="form-group">
          <label for="Nemail">Adresse email</label>
          <input name="Nemail" type="text" class="form-control" [(ngModel)]="newUser.mailUser">
        </div>
        <div class="form-group">
          <label for="Ntelephone">Numéro de téléphone</label>
          <input name="Ntelephone" type="text" class="form-control" [(ngModel)]="newUser.telephoneUser">
        </div>
          <div class="form-group">
            <label for="Nrole">Fonction</label>
            <select class="form-control" name="Nrole" [(ngModel)]="newUser.role">
              <option *ngFor="let unRole of listRoles" [ngValue]="unRole">
                {{unRole.nomRole}}
              </option>
            </select>
          </div>
        <button type="submit"  class="btn btn-primary" (click)="updateUser(newUser.idUser,newUser)">Modifier</button>
      </form>
    </div>
