<div class="container">
    <form>
      <div class="form-group">
        <label for="Nemployee">identifiant utilisateur</label>
        <select class="form-control" name="Nemployee" [(ngModel)]="newCommande.employee">
          <option *ngFor="let unUser of listUsers" [ngValue]="unUser">
            {{unUser.idUser}}   {{unUser.nomUser}}   {{unUser.prenomUser}}
          </option>
        </select>
      </div>
        <div class="form-group">
          <label for="Nentree">Entrée</label>
          <select class="form-control" name="Nentree" [(ngModel)]="newCommande.entree">
            <option *ngFor="let unEntree of listEntrees" [ngValue]="unEntree">
              {{unEntree.nomEntree}}   {{unEntree.prixEntree}}€
            </option>
          </select>
          <label for="NqteEntree"></label>
          <input name="NqteEntree" class="form-control" type="number" placeholder="Quantité" [(ngModel)]="newCommande.qteEntree">
        </div>
        <div class="form-group">
            <label for="Nplat">Plat</label>
            <select class="form-control" name="Nplat" [(ngModel)]="newCommande.plat">
              <option *ngFor="let unPlat of listPlats" [ngValue]="unPlat">
                {{unPlat.nomPlat}}   {{unPlat.prixPlat}}€
              </option>
            </select>
            <label for="NqtePlat"></label>
            <input name="NqtePlat" class="form-control" type="number" placeholder="Quantité" [(ngModel)]="newCommande.qtePlat">
          </div>
          <div class="form-group">
            <label for="Ndessert">Dessert</label>
            <select class="form-control" name="Ndessert" [(ngModel)]="newCommande.dessert">
              <option *ngFor="let unDessert of listDesserts" [ngValue]="unDessert">
                {{unDessert.nomDessert}}   {{unDessert.prixDessert}}€
              </option>
            </select>
            <label for="NqteDessert"></label>
            <input name="NqteDessert" class="form-control" type="number" placeholder="Quantité" [(ngModel)]="newCommande.qteDessert">
          </div>
          <div class="form-group">
            <label for="Nboisson">Boisson</label>
            <select class="form-control" name="Nboisson" [(ngModel)]="newCommande.boisson">
              <option *ngFor="let unBoisson of listBoissons" [ngValue]="unBoisson">
                {{unBoisson.nomBoisson}}   {{unBoisson.prixBoisson}}€
              </option>
            </select>
            <label for="NqteBoisson"></label>
            <input name="NqteBoissson" class="form-control" type="number" placeholder="Quantité" [(ngModel)]="newCommande.qteBoisson">
          </div>
        <button type="submit" (click)="updateCommande(newCommande.idCommande,newCommande)" class="btn btn-primary">Valider</button>
      </form>
    </div>
    