<div class = "container">
    <table class = "table table-striped">
    <thead>
    <tr>
        <th>Identifiant boisson</th>
        <th>Nom</th>
        <th>Prix</th>
        <th>Retirer de la carte</th>
        <!-- là c'est ce qui va apparaitre dans l'entête et donc ça n'a pas besoin d'être conforme à la syntaxe des attributs de User -->
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let unBoisson of listBoissons">
        <td>{{unBoisson.idBoisson}}</td> 
        <!-- ici par contre ça doit être conforme  -->
        <td>{{unBoisson.nomBoisson}}</td>
        <td>{{unBoisson.prixBoisson}}€</td>
        <td><button type ="button" class = "btn btn-danger" (click)="deleteBoisson(unBoisson.idBoisson)">Supprimer</button></td>
        <!-- <td><a class = "btn btn-primary" [routerLink]="['/updatePlat/'+unPlat.idPlat]">Modifier</a></td> -->
        </tr>
    </tbody>
    
    
    </table>
    
    
    
    </div>
