<div class = "container">
    <table class = "table table-striped">
    <thead>
    <tr>
        <th>identifiant Table</th>
        <th>capacité (nombre de places)</th>
        <th>libre ?</th>
        <th>numero de reservation</th>
        <!-- là c'est ce qui va apparaitre dans l'entête et donc ça n'a pas besoin d'être conforme à la syntaxe des attributs de User -->
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let unTables of listTables">
        <td>{{unTables.idTables}}</td> 
        <!-- ici par contre ça doit être conforme  -->
        <td>{{unTables.nbPlacesAssisesTables}}</td>
        <td>{{unTables.statusTables}}</td>
        <td>{{unTables.reservation.idReservation}}</td>
        <td><button type ="button" class = "btn btn-danger" (click)="deleteTables(unTables.idTables)">Enlever cette table</button></td>
        </tr>
    </tbody>
    
    
    </table>
    
    
    
    </div>
