<div class="container">
    <form>
        <div class="form-group">
          <label for="client">Utilisateur</label>
        <select class="form-control" name="client" [(ngModel)]="newReservationSoir.client">
          <option *ngFor="let unUser of listUsers" [ngValue]="unUser">
            {{unUser.idUser}}   {{unUser.nomUser}}   {{unUser.prenomUser}}
          </option>
        </select>
          <label for="dateReservationSoir">Date</label>
          <input name="dateReservationSoir" type="date" class="form-control" [(ngModel)]="newReservationSoir.dateReservationSoir">
          <label for="nbPersonnnesReservationSoir">Nombre de personnes</label>
          <input name="nbPersonnnesReservationSoir" type="number" class="form-control" [(ngModel)]="newReservationSoir.nbPersonnnesReservationSoir">
        </div>
        <button type="submit" (click)="createReservationSoir()" class="btn btn-primary">Réserver</button>
      </form>
    </div>
