<div class="container">
    <form>
        <div class="form-group">
          <label for="entree">Entrée</label>
          <select class="form-control" name="entree" [(ngModel)]="newCommande.entree">
            <option *ngFor="let unEntree of listEntrees" [ngValue]="unEntree">
              {{unEntree.nomEntree}}{{unEntree.prixEntree}}€
            </option>
          </select>
        </div>
        <div class="form-group">
            <label for="plat">Plat</label>
            <select class="form-control" name="plat" [(ngModel)]="newCommande.plat">
              <option *ngFor="let unPlat of listPlats" [ngValue]="unPlat">
                {{unPlat.nomPlat}}{{unPlat.prixPlat}}€
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="dessert">Dessert</label>
            <select class="form-control" name="dessert" [(ngModel)]="newCommande.dessert">
              <option *ngFor="let unDessert of listDesserts" [ngValue]="unDessert">
                {{unDessert.nomDessert}}{{unDessert.prixDessert}}€
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="boisson">Boisson</label>
            <select class="form-control" name="boisson" [(ngModel)]="newCommande.boisson">
              <option *ngFor="let unBoisson of listBoissons" [ngValue]="unBoisson">
                {{unBoisson.nomBoisson}}{{unBoisson.prixBoisson}}€
              </option>
            </select>
          </div>
        <button type="submit" (click)="createCommande()" class="btn btn-primary">Valider</button>
      </form>
    </div>
